VITE_CRM_TOKEN=Bearer SEU_TOKEN_AQUI

CLINICORP_USER_ELDORADO=seu_usuario_eldorado
CLINICORP_PASS_ELDORADO=sua_senha_eldorado
CLINICORP_BUSINESS_ELDORADO=id_do_negocio_eldorado

CLINICORP_USER_BUENO=seu_usuario_bueno
CLINICORP_PASS_BUENO=sua_senha_bueno
CLINICORP_BUSINESS_BUENO=id_do_negocio_bueno
